#contact_modal {
    display: none;
}

/*Photograph header*/

.photograph-header {
    background-color: #FAFAFA;
    height: 300px;
    margin: 0 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.image-photographe {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
}

.photograph-name {
    font-size: 64px;
    font-weight: 400;
    color: #D3573C;
}

.photograph-localisation {
    font-size: 24px;
    font-weight: 400;
    color: #901C1C;
}

.photograph-slogan {
    color: #525252;
    font-size: 18px;
    font-weight: 400;
}

.contact_button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
}

/*Photograph header*/

/* Filter */

.main-content-filter {
    display: flex;
    flex-direction: row;
    align-items: start;
    padding-top: 30px;
}

.main-content-filter h2 {
    font-size: 18px;
    font-weight: 700;
    color: #000000;
}

.filter-section {
    margin-left: 10px;
    margin-top: 10px;
}

.dropdown {
    display: flex;
    flex-direction: column;
}

.btn-drop {
    padding: 10px;
    background: #901C1C;
    border: 0px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    cursor: pointer;
    color: #fff;
    font-weight: 900;
}

.down {
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}

#current-filter {
    color: #fff;
    margin-right: 10px;
    font-weight: 900;
}

.chevron {
    color: #fff;
}

.dropdown-content {
    list-style: none;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 0;
    margin: 0;
    background: #901C1C;
    border: 0px;
    color: #fff;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    cursor: pointer;
}


.dropdown-content li button {
    padding: 10px;
    font-weight: 900;
    width: 100%;
    border: 0px;
    background-color: #901C1C;
    color: #fff;
    text-align: start;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    cursor: pointer;
}

.div-bar {
    width: 80%;
    border-bottom: 1px solid #fff;
}

/* Filter */

/* Galerie */

.section-galerie {
    padding: 0 100px;
}

.galerie {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    gap: 20px;
}

article {
    margin-bottom: 20px;
}

.img-photo {
    height: 300px;
    width: 350px;
    object-fit: cover;
    border-radius: 10px;
}

.video-photo {
    height: 300px;
    width: 350px;
    border-radius: 10px;
    object-fit: cover;
}

.div-description {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 350px;
}

.galerie-description {
    font-weight: 400;
    font-size: 24px;
    color: #901C1C;
}

.galerie-likes {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.galerie-likes span {
    font-size: 24px;
    font-weight: 500;
    color: #901C1C;
    margin-right: 5px;
}

.galerie-likes i {
    color: #901C1C;
    font-size: 24px;
    cursor: pointer;
}

/* Galerie */

/*Modal*/

.modal {
    border-radius: 5px;
    background-color: #DB8876;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
    margin: auto;
}

#contact-modal {
    position: relative;
    z-index: 2;
    display: none;
}


.modal header {
    justify-content: space-between;
    width: 100%;
}

.modal header img {
    cursor: pointer;
}

.modal header h2 {
    font-size: 64px;
    font-weight: normal;
    text-align: start;
}

/*Modal*/

/*Form*/

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 40px;
}

form label {
    color: #312E2E;
    font-size: 36px;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 26px;
}

form input {
    width: 100%;
    height: 68px;
    border: none;
    border-radius: 5px;
}

#texte {
    width: 100%;
    height: 200px;
    border: none;
    border-radius: 5px;
}

/*Form*/

/*Likes footer*/

footer {
    display: flex;
    justify-content: end;
    margin: 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.like-price-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 250px;
    height: 50px;
    background: #DB8876;
    align-items: center;
    padding: 5px 20px;
    border-radius: 5px;
    margin-right: 50px;
}

.likes,
.prices {
    font-size: 24px;
    font-weight: 500;
    color: #000000;
}

.likes span {
    margin-right: 10px;
}

.prices {
    display: flex;
    align-items: center;
    flex-direction: row;
}

/*Likes footer*/

/* Lightbox */

.carousel {
    position: relative;
    width: 100%;
    max-width: 800px;
    margin: auto;
    overflow: hidden;
    background-color: #fff;
    height: 575px;
    align-items: center;
    display: flex;
}

.carousel-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.img-title-carousel-container {
    display: flex;
    flex-direction: column;
    width: 70%;
}

.video-carousel {
    width: 610px;
    height: 400px;
}

.img-carousel {
    width: 610px;
    height: 400px;
    object-fit: cover;
}

.title-carousel {
    font-size: 24px;
    font-weight: 400;
    color: #901C1C;
    margin-top: 10px;
}

.prev-btn,
.next-btn,
.close-btn {
    background-color: #fff;
    border: none;
    color: #901C1C;
    font-size: 3rem;
    cursor: pointer;
    padding: 10px;
}

.prev-btn,
.next-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.prev-btn {
    left: 10px;
    color: #901C1C;
}

.next-btn {
    right: 10px;
    color: #901C1C;
}

.close-btn {
    position: absolute;
    top: 47px;
    right: 10px;
    font-size: 3rem;
}

/*/ Lightbox */